---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import image1 from '../assets/images/headshot-slider/1.jpg';
import { SITE_TITLE } from '../consts';
import FiveStarRating from '../components/FiveStarRating.astro';
import TestimonialCard from '../components/TestimonialCard.astro';
import ImageGrid from '../components/ImageGrid.astro';
import PricingCard from '../components/PricingCard.astro';
---

<BaseLayout>
    <main class='container my-5 d-flex flex-column row-gap-5'>
        <section
            id='hello'
            class='row row-cols-1 row-cols-lg-2 align-items-center py-5 row-gap-4'>
            <div class='col'>
                <h1 class='text-capitalize'>{SITE_TITLE}</h1>
                <p class='fw-medium mb-4 h6'>
                    Hello, my name is Nathan and I am a math nerd. I am a calm,
                    funny and encouraging person who loves to capture
                    significant moments in other people’s lives!
                </p>
                <div class='d-flex flex-wrap gap-2'>
                    <a
                        href='#'
                        class='btn btn-primary'
                        >Get Started</a
                    ><a
                        href='#'
                        class='btn btn-outline-secondary'
                        >My Work</a
                    >
                </div>
            </div>
            <div class='col'>
                <Image
                    src={image1}
                    alt='Nathan'
                    class='img-fluid rounded'
                />
            </div>
        </section>
        <section
            id='testimonials'
            class='d-flex flex-column gap-5 py-5'>
            <div
                class='row flex-column align-items-center gap-3 justify-content-center'>
                <div class='col-auto'>
                    <FiveStarRating />
                </div>
                <div class='col-lg-8 text-center'>
                    <h2 class='mb-0'>What people are saying</h2>
                    <span
                        >The text element is intended for longform copy that
                        could potentially include multiple paragraphs. You can
                        also use it for single lines of copy if you wish.</span
                    >
                </div>
            </div>
            <div class='row row-cols-auto gx-0 gap-3'>
                <TestimonialCard
                    name='KJ Roelke'
                    title='Web Developer'
                    quote='Nathan is a great photographer!'
                    image={image1}
                />
                <TestimonialCard
                    name='KJ Roelke'
                    title='Web Developer'
                    quote='Nathan is a great photographer!'
                    image={image1}
                />
                <TestimonialCard
                    name='KJ Roelke'
                    title='Web Developer'
                    quote='Nathan is a great photographer!'
                    image={image1}
                />
            </div>
        </section>
        <section
            id='gallery'
            class='py-5 d-flex flex-column gap-4'>
            <div class='row justify-content-center'>
                <div class='col-lg-8 text-center d-flex flex-column gap-3'>
                    <p class='text-info mb-0 fw-bold fs-6'>
                        Quick Caption Here
                    </p>
                    <div class='headline-callout'>
                        <h2 class='mb-0'>Make people look at a gallery</h2>
                        <p class='fs-6 mb-0'>
                            The text element is intended for longform copy that
                            could potentially include multiple paragraphs. You
                            can also use it for single lines of copy if you
                            wish.
                        </p>
                    </div>
                    <div
                        class='d-flex align-items-center justify-content-center gap-3'>
                        <a
                            href='#'
                            class='fw-bold text-decoration-none fs-6'
                            >Learn More</a
                        >
                        <a
                            href='#'
                            class='btn btn-primary'
                            >Get Started</a
                        >
                    </div>
                </div>
            </div>
            <div class='row gx-0'>
                <ImageGrid />
            </div>
        </section>
        <section
            id='pricing'
            class='d-flex flex-column gap-4 py-5'>
            <div class='row justify-content-center'>
                <div class='col-lg-8 text-center'>
                    <h2 class='mb-0'>Simple Pricing Options</h2>
                    <p class='mb-0 fs-6'>
                        From weddings to graduations and other celebrations,
                        I've got the perfect price for every occasion.
                    </p>
                </div>
            </div>
            <div class='row row-cols-1 row-cols-lg-3 gx-0 gap-3'>
                <PricingCard>
                    <div class='header'>
                        <h3 class='text-secondary'>4 Hour Package</h3>
                        <p class='fw-bold fs-6'>$1,600</p>
                        <p>Perfect for keynotes and graduations</p>
                    </div>
                    <ul class='features fs-6 fw-bold'>
                        <li>4 hours of video</li>
                        <li>
                            6+ minute highlight video <p class='fw-normal'>
                                Blooper of family & guests (if available)
                            </p>
                        </li>
                    </ul>
                    <button class='btn btn-secondary'>Purchase</button>
                </PricingCard>
                <PricingCard
                    style='solid'
                    color='primary'>
                    <div class='header'>
                        <h3 class='text-white'>4 Hour Package</h3>
                        <p class='fw-bold fs-6'>$1,600</p>
                        <p>Perfect for keynotes and graduations</p>
                    </div>
                    <ul class='features fs-6 fw-bold'>
                        <li>4 hours of video</li>
                        <li>
                            6+ minute highlight video <p class='fw-normal'>
                                Blooper of family & guests (if available)
                            </p>
                        </li>
                    </ul>
                    <button class='btn btn-white'>Purchase</button>
                </PricingCard>
                <PricingCard
                    style='outline'
                    color='secondary'>
                    <div class='header'>
                        <h3 class='text-secondary'>4 Hour Package</h3>
                        <p class='fw-bold fs-6'>$1,600</p>
                        <p>Perfect for keynotes and graduations</p>
                    </div>
                    <ul class='features fs-6 fw-bold'>
                        <li>4 hours of video</li>
                        <li>
                            6+ minute highlight video <p class='fw-normal'>
                                Blooper of family & guests (if available)
                            </p>
                        </li>
                    </ul>
                    <button class='btn btn-secondary'>Purchase</button>
                </PricingCard>
            </div>
        </section>
    </main>
</BaseLayout>
<style>
    .features li::marker {
        content: '✓';
    }
</style>
