---
import BaseLayout from './BaseLayout.astro';
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<BaseLayout title={title} description={description}>
	<main class="container my-5">
		<article class="row justify-content-center row-gap-4">
			<div class="col-lg-8 text-center">
				<div class="hero-image ratio ratio-16x9 mb-2">
					{heroImage && <img class="object-fit-cover shadow rounded" src={heroImage} alt="" />}
				</div>
				<div class="mb-1 text-gray">
					<FormattedDate date={pubDate} />
					{
						updatedDate && (
							<div class="fst-italic">
								Last updated on <FormattedDate date={updatedDate} />
							</div>
						)
					}
				</div>
				<h1>{title}</h1>
				<hr />
			</div>
			<div class="col-lg-7">
				<slot />
			</div>
		</article>
	</main>
</BaseLayout>
